<.header>
  Greeting Created!
  <:subtitle>greeting!</:subtitle>
</.header>

<div class="mt-14">
<p>Your greeting message is...</p>
<p><%= @greeting.message %></p>
</div>

<.back navigate={~p"/greetings"}>Back to Greetings</.back>
