<.header>
  New Greeting
  <:subtitle>Say Hello!</:subtitle>
</.header>

<.simple_form :let={form} for={@changeset} action={~p"/users/greetings"} method="post">
  <.input field={form[:message]} type="text" label="Message" />

  <:actions>
    <.button>Save Greeting</.button>
  </:actions>
</.simple_form>

<.back navigate={~p"/greetings"}>Back to Greetings</.back>
